<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/Home.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/uikit/css/uikit.min.css">
</head>
<body>
    <div class="container-fluid">
        <h1 class="uk-heading-divider">Lista de posts</h1>
    </div>
    <section id="app">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div v-for="post in posts" class="col col-lg-4">
                    
                    <div class="uk-margin uk-card uk-card-default uk-width-1@m">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <h4 class="uk-card-title uk-margin-remove-bottom">{{ post.Titulo }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>{{post.Descricao}}</p>
                        </div>
                        <div class="uk-card-footer">
                            <a :href="`${post.Link}`" class="uk-button uk-button-text">Abrir</a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../scripts/list.js"></script>
</body>
</html>